.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
}

.khan__buy-link:hover {
  opacity: .7;
  transition: opacity .6s;
}

.khan__buy-link::after {
  content: " →";
}
